.resultado-sec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 60px;
  gap: 20px;
}

.forms-text {
  font-size: 25px;
}

.resultado-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.resultado-div {
  display: flex;
  background-color: #242424;
  border-radius: 16px;
  width: 100%;
  height: 400px;
}
