.forms-div {
  display: flex;
  height: 700px;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-content: start;
}

.forms-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.forms-text {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.forms-fields {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  overflow-y: scroll;
}
