.forms-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}

.forms-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.forms-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.forms-fields {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}
