.leftbar-div {
  width: 200px;
  height: 100vh;
  background-color: #222222;
}

.content-div {
  justify-content: center;
  height: 500px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttons-div {
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.button {
  width: 103%;
  text-transform: none;
}

.saves-div {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 350px;
}

.saves-text {
  font-weight: 625;
  margin-bottom: 15px;
}
