:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('../src/assets/background.png');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  place-items: center;
  min-height: 100vh;
}

.home-nav {
  display: grid;
  grid-template-columns: 0fr 1fr;
  width: 100vw;
  height: 100vh;
}
