.card-section {
  justify-content: space-between;
  background-color: #242424;
  border-radius: 5px;
  border-width: 2px;
  border-color: #606060;
  border-style: solid;
  width: 14vw;
  height: 50vh;
}

.card-content {
  text-align: left;
  padding: 10px;
}

span {
  font-weight: bold;
}

.card-title {
  font-size: 18px;
}

.card-info {
  text-align: start;
}
