.card-section {
  justify-content: space-between;
  background-color: #242424;
  border-radius: 5px;
  border-width: 2px;
  border-color: #606060;
  border-style: solid;
  padding: 10px;
  width: 14vw;
}

.card-content {
  text-align: left;
  padding: 10px;
}


.card-title {
  font-size: 18px;
  text-align: center;
}

.card-info {
  margin-top: 15%;
  text-align: start;
}

.card-info-title {
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 20px;
}
